@import '~@fluentui/react/dist/sass/References.scss';

.listMultilevelGroupView {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;

}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}




.strippedTable {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid #f1f1f1;
  }

  th,
  td {
    padding: 5px 10px;
  }

  tbody td {
    text-align: left;
  }
}


.parentRow {
  text-align: left;
  font-weight: bold;
}

.listLevel1 {
  background-color: #f1f1f1;
}

.listLevel0 {
  background-color: #d1d1d1 !important;
}

:global {
  #workbenchPageContent {
    max-width: 100% !important;
  }
}